---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-300">
		<header
			class="flex items-center justify-between h-[80px] border-black border-b-2"
		>
			<div class="flex-shrink-0 ml-[20px]">
				<img
					class="h-[23px]"
					src="https://pofo.themezaa.com/wp-content/uploads/2017/05/logo.png.webp"
					alt="Logo"
				/>
			</div>
			<menu class="flex space-x-4 w-[60%] mx-auto justify-center">
				<a
					class="font-sans text-black font-semibold hover:text-orange-500"
					href="#">Demos</a
				>
				<a
					class="font-sans text-black font-semibold hover:text-orange-500"
					href="#">Portafolio</a
				>
				<a
					class="font-sans text-black font-semibold hover:text-orange-500"
					href="#">Blog</a
				>
				<a
					class="font-sans text-black font-semibold hover:text-orange-500"
					href="#">Feactures</a
				>
				<a
					class="font-sans text-black font-semibold hover:text-orange-500"
					href="#">Documentation</a
				>
			</menu>
		</header>
		<div class="mt-[20px]">
			<div
				class="h-[300px] flex flex-col justify-center items-center bg-repeat-x bg-[url(https://www.salamanca24horas.com/uploads/s1/12/67/89/66/dos-personas-bebiendo-cafe.jpeg)]"
			>
				<h1 class="font-sans font-semibold text-white text-[40px]">
					GRAFTING DIGITAL EXPERIENCES
				</h1>
				<button
					class="bg-yellow-50/50 hover:bg-white px-[6px] rounded-lg"
					>Entrar</button
				>
			</div>
		</div>
		<div class="banner1 flex flex-row space-x-3 justify-center mt-5">
			<div class="h-[400px] w-[250px] bg-white">
				<img
					class="mb-[10px]"
					src="https://upgmedicina.unmsm.edu.pe/wp-content/uploads/2021/01/Asesoria-de-tesis.jpg"
					alt=""
				/>
				<div class="text-center">
					<h2
						class="font-sans text-black font-medium text-[20px] mb-[10px]"
					>
						Este es un mensaje aleatorio
					</h2>
					<p class="font-sans text-black">
						Si todo va bien, verás un recomendados. Ahora que tu
						proyecto ha sido creado, puedes navegar
					</p>
				</div>
				<div
					class="mt-[10px] flex flex-row bg-yellow-50/50 border-black border-[1px] hover:bg-white px-[6px] rounded-lg w-[80px] mx-auto cursor-pointer"
				>
					<button>Entrar</button>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="size-6 w-[15px]"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
					</svg>
				</div>
			</div>
			<div class="h-[400px] w-[250px] bg-white">
				<img
					class="mb-[10px]"
					src="https://upgmedicina.unmsm.edu.pe/wp-content/uploads/2021/01/Asesoria-de-tesis.jpg"
					alt=""
				/>
				<div class="text-center">
					<h2
						class="font-sans text-black font-medium text-[20px] mb-[10px]"
					>
						Este es un mensaje aleatorio
					</h2>
					<p class="font-sans text-black">
						Si todo va bien, verás un recomendados. Ahora que tu
						proyecto ha sido creado, puedes navegar
					</p>
				</div>
				<div
					class="mt-[10px] flex flex-row bg-yellow-50/50 border-black border-[1px] hover:bg-white px-[6px] rounded-lg w-[80px] mx-auto cursor-pointer"
				>
					<button class="">Entrar</button>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="size-6 w-[15px]"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
					</svg>
				</div>
			</div>
			<div class="h-[400px] w-[250px] bg-white">
				<img
					class="mb-[10px]"
					src="https://upgmedicina.unmsm.edu.pe/wp-content/uploads/2021/01/Asesoria-de-tesis.jpg"
					alt=""
				/>
				<div class="text-center">
					<h2
						class="font-sans text-black font-medium text-[20px] mb-[10px]"
					>
						Este es un mensaje aleatorio
					</h2>
					<p class="font-sans text-black">
						Si todo va bien, verás un recomendados. Ahora que tu
						proyecto ha sido creado, puedes navegar
					</p>
				</div>
				<div
					class="mt-[10px] flex flex-row bg-yellow-50/50 border-black border-[1px] hover:bg-white px-[6px] rounded-lg w-[80px] mx-auto cursor-pointer"
				>
					<button class="">Entrar</button>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="size-6 w-[15px]"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
					</svg>
				</div>
			</div>
		</div>
		<div class="banner2 flex flex-row justify-center space-x-3 mt-[50px]">
			<div
				class="h-[200px] w-[350px] leading-10 flex flex-col items-center bg-[url(https://media.istockphoto.com/id/533714204/es/foto/empresario-comprobar-el-momento-de-disfrutar.jpg?s=612x612&w=0&k=20&c=4a2l2Ude4D2T2NMYDzKXHXsXdCUJ7ll6dYpOhNfsZMc=)]"
			>
				<h2
					class="border-red-600/50 border-b-2 text-white ml-[20px] w-[200px] mt-[120px]"
				>
					Blue Level
				</h2>
				<p class="text-white">
					Si todo va bien, verás un recomendados.
				</p>
			</div>
			<div
				class="h-[200px] w-[350px] leading-10 flex flex-col items-center bg-[url(https://media.istockphoto.com/id/533714204/es/foto/empresario-comprobar-el-momento-de-disfrutar.jpg?s=612x612&w=0&k=20&c=4a2l2Ude4D2T2NMYDzKXHXsXdCUJ7ll6dYpOhNfsZMc=)]"
			>
				<h2
					class="border-red-600/50 border-b-2 text-white ml-[20px] w-[200px] mt-[120px]"
				>
					Blue Level
				</h2>
				<p class="text-white">
					Si todo va bien, verás un recomendados.
				</p>
			</div>
			<div
				class="h-[200px] w-[350px] leading-10 flex flex-col items-center bg-[url(https://media.istockphoto.com/id/533714204/es/foto/empresario-comprobar-el-momento-de-disfrutar.jpg?s=612x612&w=0&k=20&c=4a2l2Ude4D2T2NMYDzKXHXsXdCUJ7ll6dYpOhNfsZMc=)]"
			>
				<h2
					class="border-red-600/50 border-b-2 text-white ml-[20px] w-[200px] mt-[120px]"
				>
					Blue Level
				</h2>
				<p class="text-white">
					Si todo va bien, verás un recomendados.
				</p>
			</div>
		</div>
		<h1
			class="text-black font-sans font-semibold text-[20px] text-center mt-[50px]"
		>
			Este es un mensaje aleatorio, <br />no tiene significado
		</h1>
		<div
			class="banner3 h-[280px] flex flex-row space-x-3 justify-center mt-[30px]"
		>
			<div class="bg-white">
				<img
					class="h-[230px]"
					src="https://img.freepik.com/fotos-premium/mujer-esta-tomando-foto-camara_916107-4705.jpg"
					alt=""
				/>
				<div class="text-center mt-[10px]">
					<h1 class="font-sans font-medium text-black text-[15px]">
						Karen Marcela
					</h1>
					<p class="font-sans text-black text-[13px]">
						Bayona moreno
					</p>
				</div>
			</div>
			<div class="bg-white">
				<img
					class="h-[230px]"
					src="https://img.freepik.com/fotos-premium/mujer-esta-tomando-foto-camara_916107-4705.jpg"
					alt=""
				/>
				<div class="text-center mt-[10px]">
					<h1 class="font-sans font-medium text-black text-[15px]">
						Karen Marcela
					</h1>
					<p class="font-sans text-black text-[13px]">
						Bayona moreno
					</p>
				</div>
			</div>
			<div class="bg-white">
				<img
					class="h-[230px]"
					src="https://img.freepik.com/fotos-premium/mujer-esta-tomando-foto-camara_916107-4705.jpg"
					alt=""
				/>
				<div class="text-center mt-[10px]">
					<h1 class="font-sans font-medium text-black text-[15px]">
						Karen Marcela
					</h1>
					<p class="font-sans text-black text-[13px]">
						Bayona moreno
					</p>
				</div>
			</div>
			<div class="bg-white">
				<img
					class="h-[230px]"
					src="https://img.freepik.com/fotos-premium/mujer-esta-tomando-foto-camara_916107-4705.jpg"
					alt=""
				/>
				<div class="text-center mt-[10px]">
					<h1 class="font-sans font-medium text-black text-[15px]">
						Karen Marcela
					</h1>
					<p class="font-sans text-black text-[13px]">
						Bayona moreno
					</p>
				</div>
			</div>
		</div>
		<footer class="mt-[30px]">
			<div class="footer1 bg-red-700  h-[100px] space-x-5 flex flex-row justify-center">
				<h1 class="flex flex-row justify-center items-center text-white">Unlimited power and customizal posibilities ?</h1>
				<div class="mt-[30px] flex flex-row  h-[30px]  bg-yellow-50/50 border-black border-[1px] hover:bg-white px-[6px] rounded-lg w-[180px]  cursor-pointer">
					<button>Comprar ropa </button>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="size-6 ml-[10px] pt-2 h-[25px] w-[20px]"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
						></path>
					</svg>
				</div>
			</div>
			<div class="h-[200px] bg-black flex flex-col items-center justify-center">
				<div class="flex flex-row justify-center space-x-72 border-gray-600 border-b-2">
					<div class="text-gray-500 font-sans text-[15px] ">
						<h2 >London</h2>
						<h2 >Japon studio</h2>
					</div>
					<div class="text-gray-500 font-sans text-[15px]">
						<h2 >London</h2>
						<h2 >Japon studio</h2>
					</div>
					<div class="text-gray-500 font-sans text-[15px]">
						<img  src="https://pofo.themezaa.com/wp-content/uploads/2017/05/logo.png.webp" alt="">
						<h2 >Japon studio</h2>
					</div>
				</div>
				<div class=" text-gray-500 flex flex-row space-x-96 mt-[20px]">
					<h2 class="mr-[150px]">sndjbd382bwbdy dhbd</h2>
					<h2>sndjbd382bwbdy dhbd</h2>
				</div>
			</div>
		</footer>
	</body>
</html>
<!-- <style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style> -->
